html,
body,
div {
  background: #a9b3c6;
}
/*----------------*/
main {
  background: #a9b3c6;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 70px;
}
/*----------------*/
article {
  text-align: center;
  max-width: 720px;
  justify-content: center;
  width: 50%;
  border-radius: 34% 66% 72% 28% / 42% 48% 52% 58%;
  background-image: linear-gradient(
    58.2deg,
    rgba(40, 91, 212, 0.73) -3%,
    rgba(171, 53, 163, 0.45) 49.3%,
    rgba(255, 204, 112, 0.37) 97.7%
  );
}

.greeting {
  background: #a9b3c6;
  color: rgb(63, 86, 155);
  text-shadow: 3px 3px 3px #0b144692;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  text-align: center;
  margin: 0;
}

article h1 {
  color: rgb(63, 86, 155);
  text-shadow: 3px 3px 3px #0b144692;
  font-family: "Orbitron", sans-serif;
}
article p {
  font-family: "Orbitron", sans-serif;
  color: white;
  text-shadow: 3px 3px 3px #0b14465f;
  line-height: 25px;
}
/*----------------*/
.selector-for-some-widget {
  box-sizing: content-box;
}
/*----------------*/
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-image: linear-gradient(
    58.2deg,
    rgba(40, 91, 212, 0.73) -3%,
    rgba(171, 53, 163, 0.45) 49.3%,
    rgba(255, 204, 112, 0.37) 97.7%
  );
  color: #fff;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #0026ff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
  border-radius: 10px;
  background-image: linear-gradient(
    58.2deg,
    rgba(40, 91, 212, 0.73) -3%,
    rgba(171, 53, 163, 0.45) 49.3%,
    rgba(255, 204, 112, 0.37) 97.7%
  );
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #4364798f;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
/*----------------*/

.logo {
  color: rgb(63, 86, 155);
  text-shadow: 3px 3px 3px #0b144692;
  font-family: "Orbitron", sans-serif;
  padding: 5px;
  margin-right: 20px;
}
li a:hover {
  background-image: linear-gradient(
    58.2deg,
    rgba(40, 91, 212, 0.73) -3%,
    rgba(171, 53, 163, 0.45) 49.3%,
    rgba(255, 204, 112, 0.37) 97.7%
  );
  border-radius: 10px;
}
/*----------------*/
.tooltip-container {
  --background: #fefbff;
  --inner-shadow: #9faef9;
  --inner-outline: #34217d;
  --inner-outline-bottom: #fafcfe;
  --inner-outline-middle: #8880d5;
  --inner-outline-outer-top: #fefcff;
  --inner-outline-outer-bottom-1: #29107b;
  --inner-outline-outer-bottom-2: #5b42c4;
  --inner-outline-outer-bottom-3: #200265;
  --line-1: #8676c9;
  --line-2: #5c69ca;
  position: relative;
  background: var(--background);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  padding: 0.7em 1.8em;
  border-radius: 5px;
  box-shadow: inset 0px 1px 8px 1px var(--inner-shadow),
    0px 2px 0px 0px var(--inner-outline-bottom),
    0px -2px 0px 0px var(--inner-outline),
    -2px -2px 0px 0px var(--inner-outline),
    2px -2px 0px 0px var(--inner-outline),
    0px 0px 0px 6px var(--inner-outline-middle),
    0px -2px 0px 7px var(--inner-outline-outer-top),
    0px 4px 0px 7px var(--inner-outline-outer-bottom-1);
}

.tooltip-icon {
  display: inline-block;
  vertical-align: top;
  width: 1.5em;
}

.tooltip-icon path {
  stroke-width: 2px;
  stroke: var(--inner-outline);
  stroke-linejoin: round;
}

.tooltip-lines {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.tooltip-line-1 {
  height: 0.2em;
  width: 4em;
  border-radius: 10em;
  display: inline-block;
  background: var(--line-1);
}

.tooltip-line-2 {
  height: 0.2em;
  width: 3em;
  border-radius: 10em;
  display: inline-block;
  background: var(--line-2);
}

.tooltip {
  position: absolute;
  display: flex;
  gap: 0.4em;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.6em 0.8em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background: var(--background);
  border-radius: 0.7em;

  box-shadow: inset 0px 1px 8px 1px var(--inner-shadow),
    0px 2px 0px 0px var(--inner-outline-bottom),
    0px -2px 0px 0px var(--inner-outline),
    -2px -2px 0px 0px var(--inner-outline),
    2px -2px 0px 0px var(--inner-outline),
    0px 0px 0px 6px var(--inner-outline-middle),
    0px -2px 0px 7px var(--inner-outline-outer-top),
    0px 4px 0px 7px var(--inner-outline-outer-bottom-1),
    0px 7px 0px 7px var(--inner-outline-outer-bottom-2),
    0px 10px 0px 7px var(--inner-outline-outer-bottom-3);
}

.tooltip::before {
  content: "";
  position: absolute;
  height: 1em;
  width: 1em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) translateY(2px) rotate(45deg);
  background: var(--background);
  border-radius: 0.2em;
  box-shadow: 1px 1px 0px white, 5px 5px 0px rgb(136, 128, 213),
    9px 9px 0px rgb(41, 16, 123), 12px 12px 0px #5b42c4,
    14px 14px 0px rgb(41, 16, 123), inset -3px -3px 3px #9faef97a;
}

.tooltip-container:hover .tooltip {
  top: -4.5em;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.joinUs {
  background: #a9b3c6;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px;
}
button a {
  text-decoration: none;
  color: #8676c9;
}
/*----------------*/
footer {
  background: #a9b3c6;
  color: rgb(63, 86, 155);
}
/*----------------*/
